<main class="company">
  <div class="company__header">
    <h1 class="company__logo">BEE Company</h1>

    <ul class="company__ul">
      <li class="company__li">Home</li>
      <li class="company__li">Services</li>
      <li class="company__li">Contact Us</li>
      <li class="company__li">About</li>
    </ul>
  </div>

  <div class="company__intro">
    <h1 class="company__welcome">Welcome To BEE Company</h1>
    <p class="company__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quo?</p>
  </div>

  <div class="company__service-section">
    <h1 class="company__heading">Our Services</h1>
    <div class="company__services">
      <div class="company__tile">
      <h1 class="company__s-title">Our Service One</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt 
        fugiat alias eaque neque laboriosam quam accusamus autem tempore quidem.</p>
      </div>
      
      <div class="company__tile">
      <h1 class="company__s-title">Our Service Two</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt 
        fugiat alias eaque neque laboriosam quam accusamus autem tempore quidem.</p>
    </div>
    
    <div class="company__tile">
      <h1 class="company__s-title">Our Service Three</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt 
        fugiat alias eaque neque laboriosam quam accusamus autem tempore quidem.</p>
      </div>
    </div>
  </div>
    
  <div class="company__footer">
    <div class="company__links">
      <p>Terms & Conditions</p>
      <p>|</p>
      <p> Privacy Policy</p>
    </div>

    <p>© 2024 BEE Company All right reserved</p>
  </div>
</main>
<router-outlet />
